<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <nav class="sidebar-nav">
    <h2>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/">Home</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/about">About</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/_posts/2021-5-5-Arnold Guyot.md">Arnold Guyot</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/_posts/2021-5-5-John Maclean Jr.md">John Maclean Jr.</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/_posts/2021-5-5-Woodrow Wilson.md">Woodrow Wilson</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/_posts/2021-5-5-Albert Einstein.md">Albert Einstein</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/_posts/2021-5-5-Toni Morrison.md">Toni Morrison</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/_posts/2021-5-5-Project Synthesis.md">Project Synthesis</a>
    </h2>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
