<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <nav class="sidebar-nav">
    <h2>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/">Home</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/about">About</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/fArnold-Guyot">Arnold Guyot</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/eJohn-Maclean-Jr">John Maclean Jr.</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/dWoodrow-Wilson">Woodrow Wilson</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/cAlbert-Einstein">Albert Einstein</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/bToni-Morrison">Toni Morrison</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/aProject-Synthesis">Project Synthesis</a>
    </h2>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
