---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2 class="post-title" itemprop="name headline">{{ page.title | escape }}</h2>
    <p class="post-meta"> By
    {% if page.author1 %}<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">
    {% for person in site.people %}
    {% if person.name == page.author1 %}
    <a href="{{ site.baseurl }}{{ person.url }}">{{ page.author1 }}</a>
    {% endif %}
    {% endfor %}
    </span></span>
  {% endif %} &
    {% if page.author2 %}<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">
    {% for person in site.people %}
    {% if person.name == page.author2 %}
    <a href="{{ site.baseurl }}{{ person.url }}">{{ page.author2 }}</a>
    {% endif %}
    {% endfor %}
    </span></span>
  {% endif %}</p>
  </header>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
